<section class="o-section-content o-card" @animateContent>
  <h1>{{'welcome-beldoor' | translate}}</h1>
  <p class="e-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium neque adipisci soluta rem officiis quo recusandae, id distinctio vero ab repudiandae autem laboriosam? Eligendi placeat cumque, voluptatem quos expedita quidem odio, dolore ratione vel nostrum obcaecati quaerat accusamus quibusdam sint dicta, officiis recusandae voluptatibus? Error, assumenda incidunt. Iure, quidem dolore?</p>
  
  <button class="e-main-btn e-main-btn--withIcon" routerLink="/tickets/generate">
    <span class="bel-door icon-ticket-add">
      <span class="path1"></span>
      <span class="path2"></span>
      <span class="path3"></span>
      <span class="path4"></span>
      <span class="path5"></span>
      <span class="path6"></span>
    </span>
    {{'generate-ticket' | translate}}
  </button>
</section>
