<section class="o-section-content" >
  <h1>Welcome to Bel Dor</h1>
  <p class="e-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium neque adipisci soluta rem officiis quo recusandae, id distinctio vero ab repudiandae autem laboriosam? Eligendi placeat cumque, voluptatem quos expedita quidem odio, dolore ratione vel nostrum obcaecati quaerat accusamus quibusdam sint dicta, officiis recusandae voluptatibus? Error, assumenda incidunt. Iure, quidem dolore?</p>
  
  <!-- <button class="e-main-btn">{{'generate-ticket' | translate}}</button> -->
  <button class="e-main-btn" routerLink="/generate">Generate first ticket</button>
</section>
