<section class="o-card o-section-content">
  <div class="o-tabs">
    <button class="o-tabs__tab o-tabs__tab--active" [routerLink]="['/tickets']">
      Waiting Tickets
    </button>

    <button class="o-tabs__tab" [routerLink]="['/tickets/missed']">
      Missed Tickets
    </button>

    <button class="o-tabs__tab" [routerLink]="['/tickets/history']">
      Closed Tickets
    </button>
  </div>

  <div class="tickets">
    <ng-template appSpinnerPlaceholder></ng-template>

    <ng-container *ngIf="waitingTickets.length; else noTickets">
      <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
        <div ngxSlickItem  class="ticket" *ngFor="let ticket of waitingTickets">

          <div class="ticket__graphic">
            <app-ticket-graphic [ticketNumber]="ticket['ticketNumber']"></app-ticket-graphic>
          </div>

          <div class="ticket__info">
            <p>
              branch: 
              <strong>{{_translationService.isEnglish? ticket.branchNameEN: ticket.branchNameAR}}</strong>
            </p>
            <p>
              department: 
              <strong>{{_translationService.isEnglish? ticket.departementNameEN: ticket.departementNameAR}}</strong>
            </p>
            <p>
              Current ticket: 
              <strong>{{ticket.currentNumber}}</strong>
            </p>
          </div>

          <p class="ticket__date">
            <strong>{{ticket.createTime | date: 'shortTime'}}</strong>
            {{ticket.createTime | date}}
          </p>
          
        </div>
      </ngx-slick-carousel>
    </ng-container>

    <ng-template #noTickets>
      <h5>There is no active tickets</h5>

      <button
        class="e-main-btn e-main-btn--withPadding e-main-btn--withIcon"
        routerLink="generate"
      >
        <span class="bel-door icon-ticket-add">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
          <span class="path5"></span>
          <span class="path6"></span>
        </span>
        Generate Ticket
      </button>
    </ng-template>
  </div>
</section>
