.o-section-content {
  width: 100%;
  margin: auto;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  @media screen and (min-width: 1200px) {
    width: 70%;
  }
}