<header>
  
  <button class="e-main-btn" routerLink="/auth/register">Register</button>

  <div class="logo">
    LOGO HERE
  </div>

  <form class="language-toggle" [formGroup]="languageForm">
    
    <fieldset class="e-form-group">
      <label class="e-form-label" for="en">
        <input 
        class="e-form-radio" 
        id="en" 
        type="radio" 
        name="language" 
        value="en" 
        formControlName="language"
        [checked]="_transService.isEnglish">
        
        <span class="custom-radio">En</span>
      </label>
    </fieldset>
    
    <fieldset class="e-form-group">
      <label class="e-form-label arabic-label" for="ar">
        <input 
        class="e-form-radio" 
        id="ar" 
        type="radio" 
        name="language" 
        value="ar" 
        formControlName="language"
        [checked]="!_transService.isEnglish">
        
        <span class="custom-radio">ع</span>
      </label>
    </fieldset>
    
  </form>

  <nav class="o-nav">
    <a class="o-nav__link e-link" 
    [routerLink]="[link.router]" 
    routerLinkActive="e-link--active" 
    *ngFor="let link of navLinks">
      {{link.name}}
    </a>
  </nav>
  
</header>