<section class="o-section-content o-card" >
  <h2>{{'register-beldoor' | translate}}</h2>
  <p class="e-paragraph e-paragraph--center">{{'register-paragraph' | translate}}</p>
  
  <form class="e-form" (ngSubmit)="registerVisitor()" [formGroup]="registerForm">
    <fieldset class="e-form-group e-form-group--eightyWidth" 
    [ngClass]="{'e-valid-input': registerForm.controls.username.valid}">
      <input 
      id="username"
      autocomplete="username"
      autofocus
      tabindex="1"
      type="text" 
      class="e-form-control"
      formControlName="username">
      <label for="username" class="e-form-label e-form-label--overInput">
        {{'username' | translate}} 
        <small>({{'required' | translate}})</small>
      </label>

      <p class="e-form-error" *ngIf="registerForm.controls.username.touched && usernameErrors">
        {{usernameErrors}}
      </p>
    </fieldset>

    <fieldset class="e-form-group e-form-group--eightyWidth"
    [ngClass]="{'e-valid-input': registerForm.controls.email.valid}">
      <input 
      id="email"
      autocomplete="email"
      tabindex="2"
      type="email" 
      class="e-form-control"
      formControlName="email">
      <label for="email" class="e-form-label e-form-label--overInput">
        {{'email' | translate}} 
        <small>({{'required' | translate}})</small>
      </label>

      <p class="e-form-error" *ngIf="registerForm.controls.email.touched && emailErrors">
        {{emailErrors}}
      </p>
    </fieldset>

    <fieldset class="e-form-group e-form-group--eightyWidth"
    [ngClass]="{'e-valid-input': registerForm.controls.password.valid}">
      <input 
      id="password"
      autocomplete="current-password"
      tabindex="3"
      type="password" 
      class="e-form-control"
      formControlName="password">
      <label for="password" class="e-form-label e-form-label--overInput">
        {{'password' | translate}} 
        <small>({{'required' | translate}})</small>
      </label>

      <p class="e-form-error" *ngIf="registerForm.controls.password.touched && passwordErrors">
        {{passwordErrors}}
      </p>
    </fieldset>
  
    <button class="e-main-btn e-form-btn" [disabled]="registerForm.invalid" type="submit">
      {{'done' | translate}}
    </button>
  </form>
</section>