<section class="o-card o-section-content">
  <div class="o-tabs">
    <button class="o-tabs__tab" 
    [routerLink]="['/queue']"
    [ngClass]="{'o-tabs__tab--active': !param.queueType}">
      {{ "queue" | translate }} <strong class="total"> ( {{ticketQueue.length}} )</strong>
    </button>

    <button
      class="o-tabs__tab"
      [ngClass]="{'o-tabs__tab--active':param.queueType === 'missed'}"
      [routerLink]="['/queue']"
      [queryParams]="{ queueType: 'missed' }"
    >
      {{ "missed" | translate }}
    </button>
  </div>

  <div class="tickets">
    <ng-template appSpinnerPlaceholder></ng-template>

    <ng-container *ngIf="ticketQueue.length; else noTickets">
        <div class="ticket" [ngClass]="{'ticket--activated': queueActivated}" *ngFor="let ticket of ticketQueue">
          <h3 class="ticket__graphic">
            {{ticket['ticketNumber']}}
          </h3>

          <div class="ticket__info">
            <p>
              {{ 'client-code' | translate }}:
              <strong>{{ ticket.visitorId }}</strong>
            </p>
            <p>
              {{ 'client-name' | translate }}:
              <strong>{{ ticket.visitorName }}</strong>
            </p>
          </div>
          
        </div>
    </ng-container>

    <ng-template #noTickets>
      <h5>{{ "there-is-no-queue" | translate }}</h5>
    </ng-template>
  </div>
</section>

<ng-container *ngIf="!queueActivated; else closeTicket">
  <button
    class="e-main-btn e-main-btn--noHover"
    (click)="nextInQueue()"
    [disabled]="!ticketQueue.length"
  >
    {{'next-queue' | translate}}
  </button>
</ng-container>

<ng-template #closeTicket>
  <button
    class="e-main-btn e-main-btn--noHover e-main-btn--action"
    (click)="removeFromQueue()"
  >
    {{'close-ticket' | translate}}
  </button>
</ng-template>
