.o-card {
  width: 80%;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.login {
  &__footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}