.e-main-btn {
  @include resetBtn;
  @include box(180, 60);
  background-color: $main-color;
  color: $main-dark-color;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  @include transition(all);

  &--withPadding {
    width: auto;
    height: auto;
    padding: 10px 40px;
  }

  &:hover:not(:disabled) {
    transform: translate3d(0, -5px, 5px);
    box-shadow:  0 10px 40px rgba($color: $main-color, $alpha: 0.1); 
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.e-text-btn {
  @include resetBtn;
  color: $main-color;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: transparent;
  padding: 0;
}

.e-secondary-btn {
  @include resetBtn;
  padding: 8px 15px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: $border-radius;
  background-color: $main-light-color;
  color: $main-dark-color;
}