<section class="o-section-content o-card" @animateContent>
  <h2>{{'generate-ticket' | translate}}</h2>

  <form class="row position-relative" [formGroup]="generateForm">
    <ng-template appSpinnerPlaceholder></ng-template>
    <!-- Branch select -->
    <div class="col-md-6">
      <fieldset class="e-form-group e-form-group--withIcon">
        <input
          type="text"
          id="branches"
          class="e-form-control"
          formControlName="branch"
          #branchInput
          (focus)="openListSelect(branchInput, braList)"
          readonly
        />
        <ul class="e-form-select" #braList>
          <li class="e-form-select__item" *ngFor="let branch of branches">
            <label class="e-form-select__label" [ngClass]="{'active': branchDetail.branchId == branch.id}"  [for]="branch.nameEN">
              <input
                class="e-form-radio"
                type="radio"
                name="branch"
                [value]="branch.id"
                [id]="branch.nameEN"
                (change)="onBranchSelect($event); closeBranchList(braList)"
              />
              {{
                _translationService.isEnglish ? branch.nameEN : branch.nameAR
              }}
            </label>
          </li>
        </ul>
        <span class="bel-door icon-map label-icon" *ngIf="!branchDetail?.branchId"></span>
        <label for="branches" class="e-form-label e-form-label--overInput">
          {{ 'select-branch' | translate}}
          <small>({{'required' | translate}})</small>
        </label>
        <span class="bel-door icon-arrow-down"></span>
      </fieldset>
    </div>

    <!-- departments select -->
    <div class="col-md-6">
      <fieldset class="e-form-group e-form-group--withIcon">
        <input
          type="text"
          class="e-form-control"
          id="departments"
          formControlName="department"
          #depInput
          (focus)="openListSelect(depInput, depList)"
          readonly
        />
        <ul class="e-form-select" #depList>
          <li
            class="e-form-select__item"
            *ngFor="let department of branchDetail['departements']"
          >
            <label class="e-form-select__label" [ngClass]="{'active': selectedDep?.departementId == department?.departementId}" [for]="department.departementNameEN">
              <input
                class="e-form-radio"
                type="radio"
                name="department"
                [value]="department.departementId"
                [id]="department.departementNameEN"
                (change)="
                  onDepSelect($event.target.value); closeBranchList(depList)
                "
              />
              {{
                _translationService.isEnglish
                  ? department.departementNameEN
                  : department.departementNameAR
              }}
            </label>
          </li>
        </ul>
        <span class="bel-door icon-streetsign label-icon" *ngIf="!selectedDep"></span>
        <label for="departments" class="e-form-label e-form-label--overInput">
          {{'select-department' | translate}}
          <small>({{'required' | translate}})</small>
        </label>
        <span class="bel-door icon-arrow-down"></span>
      </fieldset>
    </div>

    <button class="e-main-btn e-main-btn--withIcon" (click)="generateTicket()">
      <span class="bel-door icon-ticket-save">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
        <span class="path6"></span>
      </span>
      {{'generate' | translate}}
    </button>
  </form>
</section>
